<a style= "text-decoration:none;"id = home href="/">music wizard ultra 2000</a>
  <style>
    a {color: whitesmoke;}
    a {text-decoration: none;}
    a:hover {color:white;}
    a {font-size: xx-large;}   
  </style>
  <ul class="navbar-nav mr-auto">
  </ul>
</nav>